@model eSchool.Data.Models.OdrzanCasDetalji
@*@Html.CheckBoxFor(m=> m.Odsutan)*@

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Snimi" asp-controller="RazrednikAjax" method="post">
    <input asp-for="OdrzanCasDetaljiId" value="@Model.OdrzanCasDetaljiId" hidden />
    @*<div>
            <label>Odsutan</label>
            <input asp-for="Odsutan" type="checkbox" disabled/>
        </div>*@
    <input asp-for="Odsutan" type="checkbox" value="@Model.Odsutan" hidden />

    <div>
        <label>Opravdan</label>
        <input asp-for="Opravdano" type="checkbox" />
    </div>
    <div>
        <label hidden>Ocjena</label>
        <input asp-for="Ocjena" type="number" value="@Model.Ocjena" min="0" max="5" readonly hidden/>
    </div>
    <button class="btn btn-primary" type="submit" value="Snimi">Snimi</button>
</form>


@*<form asp-action="Snimi" asp-controller="Nastavnik" method="post">
        <input asp-for="OdjeljenjeID" value="@Model.OdjeljenjeID" hidden />
        <div>
            <label>Datum</label>
            <input type="datetime" asp-for="DatumOdrzavanja" value="@Model.DatumOdrzavanja" />
        </div>
        <div>
            <label>Predmet</label>
            <select asp-for="PredmetID" asp-items="@Model.Predmeti"></select>
        </div>
        <button class="btn btn-primary" type="submit" value="Snimi">Snimi</button>
    </form>*@